<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.skeletonkey.joplin_alfred_workflow</string>
	<key>connections</key>
	<dict>
		<key>305C4FC4-16E8-40CA-9742-E7CD7C269C37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37A8BF91-10EC-4879-88A2-976F4EE28959</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49E47331-FA4F-4C25-BB08-BB344B51A6D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CFC5178-3B64-4F64-9927-744A9F998B57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>305C4FC4-16E8-40CA-9742-E7CD7C269C37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5F8CA84-B79D-4BC3-8DE9-146C61615B7E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7CFC5178-3B64-4F64-9927-744A9F998B57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7C5E8DE-9100-473F-86E2-CF04F3D99F60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5F8CA84-B79D-4BC3-8DE9-146C61615B7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Erik Tank</string>
	<key>description</key>
	<string>Interact with Joplin via it's API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Joplin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:search_kw}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>perl search_notes.pl $* 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Joplin: Search Notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49E47331-FA4F-4C25-BB08-BB344B51A6D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:title_search_kw}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>perl search_notes.pl -t $*</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Joplin: Search Note Titles</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>37A8BF91-10EC-4879-88A2-976F4EE28959</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>joplin://x-callback-url/openNote?id={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>perl create_note.pl $parent_id $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>305C4FC4-16E8-40CA-9742-E7CD7C269C37</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:new_note_kw}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>perl find_folder.pl $1 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>&lt;folder name&gt; Titel of note</string>
				<key>title</key>
				<string>Create a new note</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D7C5E8DE-9100-473F-86E2-CF04F3D99F60</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter New Note Name</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7CFC5178-3B64-4F64-9927-744A9F998B57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>parent_id</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A5F8CA84-B79D-4BC3-8DE9-146C61615B7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Joplin Alfred Workflow

The Joplin Alfred Workflow enables interaction with Joplin via the API exposed by Joplin's Web Clipper.

## Commands

- jn: Create a new note
- js: Search Notes
- jt: Search Note Titles

Keywords can be changed in the configuration.

## Web Clipper

The Joplin Web Clipper must be enabled for these commands to work, and the Joplin API token must be properly configured.

### Configuration

Web Clipper can be enabled by going to Joplin Preferences (Settings) -&gt; Web Clipper.

Once enabled, an API token will be generated; copy and paste it into the "Web Clipper Authorization Token" field.

Also, note the Port the API started on. Ensure it is the same as the default in the "URL/Port of Joplin's API" field.

## Resources

Please reference the README.md file for more detailed information: https://github.com/skeletonkey/joplin_alfred_workflow

If there are any issues or enhancements, please create a "Github Issue" here: https://github.com/skeletonkey/joplin_alfred_workflow/issues</string>
	<key>uidata</key>
	<dict>
		<key>305C4FC4-16E8-40CA-9742-E7CD7C269C37</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>37A8BF91-10EC-4879-88A2-976F4EE28959</key>
		<dict>
			<key>note</key>
			<string>Search Note Titles
This is an exact search on what Joplin considers words.</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>49E47331-FA4F-4C25-BB08-BB344B51A6D7</key>
		<dict>
			<key>note</key>
			<string>Search Notes</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>7CFC5178-3B64-4F64-9927-744A9F998B57</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>A5F8CA84-B79D-4BC3-8DE9-146C61615B7E</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>D7C5E8DE-9100-473F-86E2-CF04F3D99F60</key>
		<dict>
			<key>note</key>
			<string>Create New Note in specific folder.</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Copy token here</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Token will be genereated when the Web Clipper is enabled.</string>
			<key>label</key>
			<string>Web Clipper Authorization Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>JOPLIN_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>http://localhost:41184</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The full URL with Port of Joplin Web Clipper is started on.</string>
			<key>label</key>
			<string>URL/Port of Joplin's API</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>JOPLIN_URL</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>jn</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keywork to initate creating a new note</string>
			<key>label</key>
			<string>Keywork Create Note</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>new_note_kw</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>js</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword used to initiate a general search</string>
			<key>label</key>
			<string>Keyword: General Search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_kw</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>jt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword used to initiate a search of note titles</string>
			<key>label</key>
			<string>Keyword Tile Search</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>title_search_kw</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.0.7</string>
	<key>webaddress</key>
	<string>https://github.com/skeletonkey/joplin_alfred_workflow</string>
</dict>
</plist>
