<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>49E47331-FA4F-4C25-BB08-BB344B51A6D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Erik Tank</string>
	<key>description</key>
	<string>Interact with Joplin via it's API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Joplin</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>joplin://x-callback-url/openNote?id={query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>js</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>query=$*

perl search_notes.pl "$query" 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Joplin: Search Notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49E47331-FA4F-4C25-BB08-BB344B51A6D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Source Code: https://github.com/skeletonkey/joplin_alfred_workflow

Report issues here: https://github.com/skeletonkey/joplin_alfred_workflow/issues</string>
	<key>uidata</key>
	<dict>
		<key>49E47331-FA4F-4C25-BB08-BB344B51A6D7</key>
		<dict>
			<key>note</key>
			<string>Please submit issues and feature requests at https://github.com/skeletonkey/joplin_alfred_workflow/issues</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>JOPLIN_TOKEN</key>
		<string></string>
		<key>JOPLIN_URL</key>
		<string>http://localhost:41184</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>JOPLIN_TOKEN</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/skeletonkey/joplin_alfred_workflow</string>
</dict>
</plist>
